@import "./../../../static/SCSS/Mixin.scss";

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background: var(--color-tab-basic);
    .title {
        width: 100%;
        position: relative;
        z-index: 3;
        padding: 25px;
        background: var(--color-accent);
        @include adaptive-value("padding", 25, 15);
        text-align: center;
    }
    .firstSlide {
        animation: leftAnim 0.5s ease 0s 1 normal forwards;
    }
    .secondSlide {
        animation: leftAnim 1s ease 0s 1 normal forwards;
    }
    button {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: var(--color-tab-basic);
        &:hover {
            background: var(--color-tab-basic2);
        }
        h3 {
            padding: 15px;
            text-align: center;
            color: var(--color-text-default);
            // background: var(--color-tab-basic);
            height: 100%;
            font-size: 35px;
            @include adaptive-value("font-size", 35, 25);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include adaptive-value("padding", 25, 15);
            text-align: center;
            position: relative;
            z-index: 2;
        }
    }
}
@keyframes leftAnim {
    0% {
        opacity: 0.6;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
