@import "./../../../../static/SCSS/Mixin.scss";
.basicWrapper {
    .imgWrapper {
        position: relative;
        max-width: 300px;
        width: 100%;
        @include adaptive-value("max-width", 300, 150);
        max-height: 420px;
        @include adaptive-value("max-height", 420, 260);

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
        div {
            height: 400px;
        }
    }
    h1 {
        font-size: 35px;
        @include adaptive-value("font-size", 35, 20);
        font-weight: 900;
        padding: 5px;
    }
    .mainInfo {
        display: flex;
        background: var(--color-tab-basic);
        align-items: flex-start;

        .infoSection {
            padding: 10px;
            width: 100%;
            div {
                padding: 5px 0;
                border-bottom: 1px solid var(--color-border);
            }
            b {
                font-size: 14px;
                @include adaptive-value("font-size", 14, 11);
                font-weight: 400;

                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                display: inline-block;
                margin-bottom: 5px;
            }
            span {
                font-size: 18px;
                @include adaptive-value("font-size", 18, 12);
                font-weight: 600;
                display: flex;
                align-self: flex-start;
            }
            .filmList {
                display: flex;
                flex-wrap: wrap;

                a {
                    display: block;
                    margin: 5px 0;
                    text-decoration: underline;
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    &:hover {
                        color: var(--color-accent);
                    }
                }
            }
        }
    }
}
.biography {
    background: var(--color-tab-basic);
    padding-bottom: 15px;
    h4 {
        font-size: 20px;
        @include adaptive-value("font-size", 20, 14);
        font-weight: 900;
        text-align: center;
        margin: 15px auto;
        padding-top: 10px;
        margin-bottom: 0px;
        display: table;
        position: relative;
    }
    h4:before {
        content: "";
        position: absolute;
        top: 70%;
        margin-top: -8px;
        left: -35px;
        width: 10px;
        height: 10px;
        border: 3px solid var(--color-accent);
        transform: rotate(45deg);
    }
    h4:after {
        content: "";
        position: absolute;
        top: 70%;
        margin-top: -8px;
        right: -35px;
        width: 10px;
        height: 10px;
        border: 3px solid var(--color-accent);
        transform: rotate(45deg);
    }

    p {
        margin: 15px;
        padding: 5px;
        margin-top: 10px;
        line-height: 120%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        border-top: 1px solid var(--color-accent);
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
    }

    .active {
        display: block;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        li {
        }
    }
}
.bioBtn {
    background: none;
    width: 100%;
    color: var(--color-text-default);
    background: var(--color-search-non-active);
    box-shadow: -0px -12px 13px rgba(17, 16, 17, 0.702);

    padding: 10px;

    &:hover {
        background: var(--color-search);
    }
}
@media (max-width: 768px) {
    .basicWrapper {
        .mainInfo .infoSection .filmList {
            display: none;
        }
    }
}
