@import "./../../../../../static/SCSS/Mixin.scss";
.basicInfoWrapper {
    width: 100%;
    background: var(--color-tab-basic);
    padding: 10px;

    div {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px solid var(--color-border);
    }
    b {
        font-size: 16px;
        @include adaptive-value("font-size", 16, 11);
        font-weight: 400;
        padding-right: 5px;
    }
    span {
        font-size: 18px;
        @include adaptive-value("font-size", 18, 12);
        font-weight: 600;
        display: flex;
        align-self: flex-start;
        align-items: center;
        flex-wrap: wrap;
        overflow-wrap: anywhere;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        li {
        }
    }
}
