@import "./../../../../../static/SCSS/Mixin.scss";

.creditsWrapper {
    ul {
        background: var(--color-blur-color);
        max-width: 870px;
        a {
            height: 100%;
            flex-grow: 1;
        }
    }
    h4 {
        font-size: 20px;
        @include adaptive-value("font-size", 20, 16);
        padding-left: 5px;
        border-left: 3px solid red;
        font-size: 20px;
        margin: 10px 5px;
        @include adaptive-value("font-size", 20, 14);
    }

    button {
        display: block;
        width: 100%;
        background: none;
        color: var(--color-text-default);
        padding: 10px;
        font-size: 16px;
        @include adaptive-value("font-size", 16, 11);
        &:hover {
            background: var(--color-search);
        }
        background: var(--color-search-non-active);
    }
}
.allCredits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
}
