@import "./../../../../static/SCSS/Mixin.scss";

.cardWrapper {
    display: flex;
    max-width: 1000px;
    margin: 10px 0;
    border: 1px solid var(--color-text-default);
    padding: 10px;
    border-radius: 10px;
    background: var(--color-blur-color);
    .imgContainer {
        min-width: 175px;
        height: 175px;
        @include adaptive-value("min-width", 175, 100);
        @include adaptive-value("height", 175, 100);
        border-radius: 15px;
        overflow: hidden;
        margin-right: 20px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .text {
        margin-right: auto;
    }
    h3 {
        font-size: 26px;
        @include adaptive-value("font-size", 26, 13);
        font-weight: 700;
        margin-bottom: 25px;
        &:hover {
            color: var(--color-accent);
        }
    }
    p {
        font-size: 14px;
        @include adaptive-value("font-size", 14, 10);
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span {
        margin-left: 10px;
    }
}
