@import "./../../../../static/SCSS/Mixin.scss";

.filmography {
    background: var(--color-tab-basic);
    padding: 10px;
    margin-top: 10px;

    h2 {
        font-size: 20px;
        @include adaptive-value("font-size", var(--fs-bold), var(--fs-boldM));
        font-weight: 900;
        text-align: center;
        position: relative;
        padding-bottom: 5px;
        display: table;
        width: auto;
        margin: 0 auto;
        margin-top: 5px;
        letter-spacing: 2px;
    }
    h2:before {
        content: "";
        position: absolute;
        top: -25%;
        left: -10px;
        width: 30px;
        height: 20px;
        border-top: 2px solid var(--color-accent);
        border-left: 2px solid var(--color-accent);
    }
    h2:after {
        content: "";
        position: absolute;
        bottom: -10%;
        right: -10px;
        width: 30px;
        height: 20px;
        border-bottom: 2px solid var(--color-accent);
        border-right: 2px solid var(--color-accent);
    }
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    h3 {
        font-size: 16px;
        @include adaptive-value("font-size", var(--fs-basic), var(--fs-basicM));
        font-weight: 600;
        line-height: 130%;
        max-width: 300px;
        @include adaptive-value("max-width", 300, 100);
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;

        border-right: 1px solid var(--color-border);
        &:hover {
            color: var(--color-accent);
        }
    }

    .time {
        margin-right: auto;
    }
    .rating {
        display: block;
    }
    div {
        margin-left: 5px;
    }
}
.header {
    width: 100%;
    display: flex;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid var(--color-accent);
    b {
        font-size: 18px;
        @include adaptive-value("font-size", var(--fs-medium), var(--fs-mediumM));
    }
    .name {
        max-width: 300px;
        @include adaptive-value("max-width", 300, 100);

        width: 100%;
    }
    .date {
        margin-right: auto;
    }
    .rating {
        margin-left: 5px;
    }
}
.btnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span {
        font-weight: 900;
    }

    button {
        margin: 5px;
        background: none;
        color: var(--color-text-default);
        padding-bottom: 3px;

        &:hover {
            color: var(--color-accent);
        }
    }
}
.active {
    border-bottom: 1px solid var(--color-accent);
}
