@import "./../../../../static/SCSS/Mixin.scss";
.poster {
    height: 300px;
    min-width: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    background: var(--color-tab-basic);

    img {
        display: flex;
        height: 100%;
        justify-content: center;

        position: absolute;
        bottom: 0px;
    }
    .rating {
        position: relative;
        left: -10px;
        top: -10px;
        z-index: 2;
    }
}
@media (max-width: 768px) {
    .poster {
        height: 500px;
        @include adaptive-value("height", 500, 300);
        background: var(--color-tab-basic);
        min-width: 200px;
        background-position: center;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        img {
            display: flex;
            height: 100%;
            justify-content: center;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
        div {
            position: relative;
            left: 0px;
            top: 0px;
        }
    }
}
