@import "./../../../static/SCSS/Mixin.scss";
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .button {
        position: relative;
        display: block;
        width: 50%;
        overflow: hidden;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s 0s ease;
        &:hover {
            transition: all 0.5s 0s ease;
            h2 {
                transition: all 0.5s 0s ease;
                background: var(--color-accent);
            }
            img {
                transition: all 0.5s 0s ease;
                filter: blur(0px);
                -webkit-filter: blur(0px);
            }
        }

        img {
            position: absolute;
            object-fit: cover;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
        h2 {
            background: var(--color-tab-basic);
            font-size: 20px;
            @include adaptive-value("font-size", 20, 16);
            padding: 25px;
            @include adaptive-value("padding", 25, 15);
            text-align: center;
            width: 100%;
            position: relative;
            z-index: 2;
        }
    }
}
@media (max-width: 768px) {
    .wrapper {
        padding: 15px;
        overflow: scroll;
        .button {
            padding: 0px;

            width: 100%;
            img {
                transition: all 0.5s 0s ease;
                filter: blur(0px);
                -webkit-filter: blur(0px);
            }
        }
    }
}
