@import "./../../../../static/SCSS/Mixin.scss";
.poster {
    height: 300px;
    min-width: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    .rating {
        position: relative;
        left: -10px;
        top: -10px;
    }
}
@media (max-width: 768px) {
    .poster {
        height: 500px;
        @include adaptive-value("height", 500, 300);
        background: var(--color-tab-basic);
        min-width: 200px;
        background-position: center;

        background-size: contain;
        background-repeat: no-repeat;
        div {
            position: relative;
            left: 0px;
            top: 0px;
        }
    }
}
