@import "./../../../../static/SCSS/Mixin.scss";
.sliderWrapper {
    display: flex;
    position: relative;
    overflow: hidden;

    .decorStart {
        height: 300px;
        position: absolute;
        z-index: 10;
        width: 50px;
        background: linear-gradient(90deg, var(--color-background) 0%, rgba(255, 255, 255, 0) 100%);
    }
    .decorEnd {
        height: 300px;
        position: absolute;
        right: -1px;
        z-index: 10;
        width: 50px;
        background: linear-gradient(90deg, var(--color-background) 32%, rgba(255, 255, 255, 0) 100%);
        transform: rotate(180deg);
    }
}
.skeleton {
    min-width: 200px;
    background: saddlebrown;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}
.title {
    padding-left: 60px;
    @include adaptive-value("padding-left", 60, 35);
    font-size: 20px;
    @include adaptive-value("font-size", 20, 14);
    padding-bottom: 10px;
    @include adaptive-value("padding-bottom", 10, 8);
}
