@import "./../../static/SCSS/Mixin.scss";
.sideBar {
    display: none;
}
.navWrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 12px;

    z-index: 1111;

    position: fixed;

    a {
        display: block;
        width: 100%;
        height: 100%;
        &:hover {
            background: rgba(131, 121, 119, 0.272);
        }
    }
    div {
        margin-top: 5px;
        text-align: center;
    }
}

.icon {
    fill: var(--color-text-default);
    display: flex;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .navWrapper {
        display: flex;
        padding: 5px;
        z-index: 111;
        width: 100vw;
        flex-direction: row;
        background: var(--color-background);

        bottom: 0%;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        a {
            display: block;
            padding: 0;
            height: 100%;
            flex-direction: column;
            align-items: center;
        }
        div {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .icon {
        }
        .closeSVG {
            width: 50px;
        }
    }
}
.iconWrap {
    margin: 10px 0;
    display: flex;
    width: 20%;
    align-items: flex-end;
}
.closeSVG {
    display: block;
    width: 100%;
    padding: 30px 0;

    &:hover {
        cursor: pointer;
        background: rgba(131, 121, 119, 0.272);
    }
}
.openSVG {
    transform: rotate(180deg);
    position: absolute;
    z-index: 1111;
    width: 50px;
    bottom: 0px;
    left: 48%;
    &:hover {
        cursor: pointer;
        background: rgba(131, 121, 119, 0.272);
    }
}
.close {
    animation: myAnimClose 1s ease 0s 1 normal forwards;
}
@keyframes myAnimClose {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(250px);
    }
}
.open {
    animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.burgerWrapper {
    max-width: 70px;
    position: fixed;
    padding: 20px;
    @include adaptive-value("padding", 20, 15);
    opacity: 0;
    &:hover {
        cursor: pointer;
        background: rgba(131, 121, 119, 0.272);
        svg {
            fill: var(--color-accent);
        }
    }
}
.openBurger {
    animation: myAnimOpenBurger 1.5s ease 0s 1 normal forwards;
}
.closeBurger {
    animation: myAnimCloseBurger 0.5s ease 0s 1 normal forwards;
}
@keyframes myAnimOpenBurger {
    0% {
        opacity: 0;
        transform: translateY(-111px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes myAnimCloseBurger {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(-111px);
    }
}
@media (max-width: 768px) {
    .navWrapper {
        z-index: 1111;
    }
    .sideBar {
        display: flex;
    }
}
