.langWrapper {
    width: 100%;
    height: 100%;

    cursor: pointer;
    img {
    }

    span {
        display: flex;
        margin-top: 5px;
        text-align: center;
    }
    .langList {
        position: relative;
        bottom: 0px;
        display: inline-flex;
        flex-direction: column;
        height: 100px;
        background: var(--color-background);
    }
}
.icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    &:hover {
        background: var(--color-tab-basic);
    }
    width: 100%;
    height: 100%;
}
.active {
    border: 1px solid var(--color-text-default);
}
.list {
}
