.langWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    span {
        display: flex;
        margin-top: 5px;
        text-align: center;
    }
    .langList {
        position: relative;
        bottom: 0px;

        display: inline-flex;
        flex-direction: column;
        height: 100px;
        background: var(--color-background);
    }

    .langListMobile {
        position: relative;
        animation: myAnimOpen 1s ease 0s 1 normal forwards;
        display: flex;

        z-index: 2222;

        img {
            width: 30px;
        }
    }
}
.icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    &:hover {
        background: var(--color-tab-basic);
    }
    width: 100%;
    height: 100%;
}
.active {
    border: 1px solid var(--color-text-default);
}
@keyframes myAnimOpen {
    0% {
        opacity: 0;
        transform: translateY(-75px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .langWrapper {
        display: flex;
        height: 100%;
        justify-content: center;
    }
}
