@import "./../../../static/SCSS/Mixin.scss";

.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    h1 {
        font-size: 45px;
        @include adaptive-value("font-size", 45, 20);
        text-align: center;

        margin: 15px 0;
    }
    .title {
        border-bottom: 2px solid var(--color-accent);
        padding-bottom: 5px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
}
