@import "./../../../../static/SCSS/Mixin.scss";
.similarWrapper {
    h5 {
        font-size: 20px;
        @include adaptive-value("font-size", 20, 16);
        padding: 5px;
    }
    ul {
        background: var(--color-tab-basic);
        display: flex;
        a {
            display: block;
            height: 100%;
        }
    }
}
