@import "./../../../static//SCSS/Mixin.scss";
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    h3 {
        font-size: 25px;
        @include adaptive-value("font-size", 25, 14);
        margin-bottom: 25px;
        @include adaptive-value("margin-bottom", 25, 15);
    }
}
