@import "./../../../static/SCSS/Mixin.scss";
.CastTVCardWrapper {
    height: 100%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 175px;

    &:hover {
        background: rgba(192, 186, 186, 0.357);
    }

    img {
        width: 175px;
        min-height: 255px;
        margin-bottom: 10px;
    }
    .info {
        padding: 10px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        b {
            font-size: 14px;
            @include adaptive-value("font-size", 14, 10);
            font-weight: 400;
            display: block;
            height: 100%;
            flex-grow: 1;
        }
        h3 {
            font-size: 18px;
            @include adaptive-value("font-size", 18, 12);
            font-weight: 900;
            margin-bottom: 5px;
            height: 100%;
        }
    }

    div {
        height: 100%;
    }
}
