@import "./static/SCSS/nullStyle.scss";
@import "./static/SCSS/themeConstants.scss";
@import "./static/SCSS/Mixin.scss";
.App {
    display: flex;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;

    font-weight: 400;

    background: var(--color-background);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: var(--color-text-default);
    margin: 0 auto;

    font-size: 16px;
    @include adaptive-value("font-size", 16, 11);
    main {
        width: 100%;
        height: 100%;
    }
    .content {
        padding-left: 70px;
        max-width: 1920px;

        height: 100%;
        margin: 0 auto;
    }
    .close {
        animation: myAnimClose 1s ease 0s 1 normal forwards;
    }
    .open {
        animation: myAnimOpen 1s ease 0s 1 normal forwards;
    }
}
#root {
    position: relative;
    z-index: 5;
    --swiper-theme-color: #ec1a62;
}
#portal {
    z-index: 6;
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
}

.active {
    color: var(--color-accent);
    svg {
        fill: var(--color-accent);
    }
}
@media (min-width: 768px) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #ba104d var(--color-tab-basic);
    }

    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--color-tab-basic);
    }

    *::-webkit-scrollbar-thumb {
        background-color: #ba104d;
        border-radius: 10px;
    }
}
@keyframes bgAnimation {
    0% {
        background-position: center top;
        background-size: 100%;
    }

    100% {
        background-position: center top;
        background-size: 140%;
    }
}
@media (max-width: 768px) {
    .App main .content {
        padding-left: 0px;
    }
}
@keyframes myAnimClose {
    0% {
        padding-left: 70px;
    }

    100% {
        padding-left: 0px;
    }
}
@keyframes myAnimOpen {
    0% {
        padding-left: 0px;
    }

    100% {
        padding-left: 70px;
    }
}
@media (max-width: 768px) {
    @keyframes myAnimClose {
        0% {
            padding-left: 0px;
        }

        100% {
            padding-left: 0px;
        }
    }
    @keyframes myAnimOpen {
        0% {
            padding-left: 0px;
        }

        100% {
            padding-left: 0px;
        }
    }
}
